{% extends "blog/base.html" %}
{% block content %}
<h1>{{ blog.title }}</h1>
<cite class="sub bottomDot"><span class="right">{{ blog.created }}</span><span>by Chase Lambert</span></cite>
  <div id="blogContent">{{ blog.body}}</div>
<h2 class='bottomDot'>Comments</h2>
<ul class="commentList">
  {% for comm in comments %}
  <li>
     <div>
     {% if user.username == comm.author %}<span><a href="/blog/editcomment/{{ comm.id }}">[Edit]</a></span> {% endif %}
     <b>{{ comm.author }}</b>:<cite class='right'>{{comm.created}}</span></div>
	   <div>{{ comm.body }}</div>
	
</li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<h2 class='bottomDot'>Add Comment</h2>
      <form method='post' action="">
        {{ form }}
        <input type='submit' name='Submit' value='Reply'>
      </form>
{% endif %}

{% endblock %}
